<?php
class {{#className}}{{node.id}}{{/className}}
{
    /**
     * Properties
     */

    {{#fieldArray}}
    public ${{#propertyName}}{{name}}{{/propertyName}};
    {{/fieldArray}}

    /**
     * Relations
     */

    {{#node.relations}}
    public ${{#propertyName}}{{info.options.name}}{{/propertyName}} = new {{#className}}{{name}}{{/className}}();
    {{/node.relations}}
}